<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Semester 1 Courses</title>
  <link rel="stylesheet" href="{% static "css/coursestable.css" %}">
</head>
<body>

  <div class="container">
   
        <h2>Semester {{semester.sem}} Courses</h2>
   
 
   
    <table class="courses-table">
      <thead>
      
        <tr>
          <th>Course Code</th>
          <th>Course Name</th>
          <th>Duration</th>
        </tr>
       

      </thead>
      <tbody>
          {% for i in sem_data %}
        <tr>
          <td>{{i.code}}</td>
          <td>{{i.name}}</td>
          <td>{{i.credit_hour}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="back-btn">
      <a href="{% url "semselection" %}">← Back to Semesters</a>
    </div>
  </div>

</body>
</html>
