<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select Semester (Teachers)</title>
  <link rel="stylesheet" href="{% static 'css/semesterwiseteacher.css' %}">
</head>
<body>
  <h1>h</h1>

  <div class="container">
    <h2>Select a Semester to View Teachers</h2>

    <div class="semester-list">
    {% for s in semester %}
      <a href="{% url 'teachertable' s.id %}">Semester {{s}}</a>
     {% endfor %}
    </div>
  </div>

</body>
</html>
