<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="{% static 'css/myinfo/update_profile.css' %}">
</head>
<body>
    <div class="update-container">
        <div class="update-card">
            <h2>Update Profile</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" value={{request.user.username}} placeholder="Enter new username">
                </div>

                <div class="form-group">
                    <label for="profile_picture">Upload New Profile Picture</label>
                    <input type="file" name="profile_picture">
                </div>

                <button type="submit">Update Profile</button>
            </form>
        </div>
    </div>
</body>
</html>
